In [141]:
pip install pandera

Requirement already satisfied: pandera in /usr/local/lib/python3.10/dist-packages (0.19.3)
Requirement already satisfied: multimethod<=1.10.0 in /usr/local/lib/python3.10/dist-packages (from pandera) (1.10)
Requirement already satisfied: numpy>=1.19.0 in /usr/local/lib/python3.10/dist-packages (from pandera) (1.25.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from pandera) (24.0)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from pandera) (2.0.3)
Requirement already satisfied: pydantic in /usr/local/lib/python3.10/dist-packages (from pandera) (2.7.1)
Requirement already satisfied: typeguard in /usr/local/lib/python3.10/dist-packages (from pandera) (4.2.1)
Requirement already satisfied: typing-inspect>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from pandera) (0.9.0)
Requirement already satisfied: wrapt in /usr/local/lib/python3.10/dist-packages (from pandera) (1.14.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pandera) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pandera) (2024.1)
Requirement already satisfied: mypy-extensions>=0.3.0 in /usr/local/lib/python3.10/dist-packages (from typing-inspect>=0.6.0->pandera) (1.0.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.10/dist-packages (from typing-inspect>=0.6.0->pandera) (4.11.0)
Requirement already satisfied: annotated-types>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from pydantic->pandera) (0.6.0)
Requirement already satisfied: pydantic-core==2.18.2 in /usr/local/lib/python3.10/dist-packages (from pydantic->pandera) (2.18.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pandera) (1.16.0)

In [142]:
import pandas as pd
import pandera as pa
from cryptography.fernet import Fernet

In [143]:
import pandas as pd


df = pd.read_csv('movies.csv', engine='python', on_bad_lines='skip')

#Data exploring

In [144]:
df

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3105,The Playbook,(2020),"\nDocumentary, Sport",7.5,\nThe Playbook profiles legendary coaches as t...,"\n \n Stars:\nJill Ellis, \nPatr...","1,165",NaN,NaN
3106,El Cuaderno de Tomy,(2020),\nDrama,6.3,\nA woman with terminal cancer decides to keep...,\n Director:\nCarlos Sorin\n| \n Stars:\...,794,84.0,NaN
3107,Muscle Shoals,(2013),"\nDocumentary, Biography, History",7.8,"\nA documentary that celebrates Rick Hall, the...",\n Director:\nGreg 'Freddy' Camalier\n| \n ...,"3,695",111.0,$0.70M
3108,Las tres muertes de Marisela Escobedo,(2020),"\nDocumentary, Crime",8.2,\nFollows a mother's tireless crusade to jail ...,\n Director:\nCarlos Perez Osorio\n| \n ...,"1,381",109.0,NaN
3109,4 latas,(2019),"\nComedy, Drama",5.9,"\nTocho, Jean Pierre and Ely travel from Spain...",\n Director:\nGerardo Olivares\n| \n Sta...,"2,903",105.0,NaN

In [145]:
df.dtypes

MOVIES       object
YEAR         object
GENRE        object
RATING      float64
ONE-LINE     object
STARS        object
VOTES        object
RunTime     float64
Gross        object
dtype: object

#Data Cleaning

In [146]:
# Check for missing values and handle them
print(df.isnull().sum())

MOVIES         0
YEAR          76
GENRE          1
RATING       207
ONE-LINE       0
STARS          0
VOTES        207
RunTime      339
Gross       2738
dtype: int64

In [147]:
column_names= ['MOVIES','YEAR','GENRE','RATING','ONE-LINE','STARS','VOTES','RunTime','Gross']

In [148]:
df[column_names].duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3105    False
3106    False
3107    False
3108    False
3109    False
Length: 3110, dtype: bool

In [149]:
# Remove duplicates
df.drop_duplicates(inplace=True)

In [150]:
df.dropna(inplace=True)

In [151]:
print(df.columns)

Index(['MOVIES', 'YEAR', 'GENRE', 'RATING', 'ONE-LINE', 'STARS', 'VOTES',
       'RunTime', 'Gross'],
      dtype='object')

#** **Data Validation:**

In [152]:
!pip install pandera
import pandera as pa
import pandas as pd
from pandera import Column, DataFrameSchema, Check, Index

Requirement already satisfied: pandera in /usr/local/lib/python3.10/dist-packages (0.19.3)
Requirement already satisfied: multimethod<=1.10.0 in /usr/local/lib/python3.10/dist-packages (from pandera) (1.10)
Requirement already satisfied: numpy>=1.19.0 in /usr/local/lib/python3.10/dist-packages (from pandera) (1.25.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from pandera) (24.0)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from pandera) (2.0.3)
Requirement already satisfied: pydantic in /usr/local/lib/python3.10/dist-packages (from pandera) (2.7.1)
Requirement already satisfied: typeguard in /usr/local/lib/python3.10/dist-packages (from pandera) (4.2.1)
Requirement already satisfied: typing-inspect>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from pandera) (0.9.0)
Requirement already satisfied: wrapt in /usr/local/lib/python3.10/dist-packages (from pandera) (1.14.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pandera) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2.0->pandera) (2024.1)
Requirement already satisfied: mypy-extensions>=0.3.0 in /usr/local/lib/python3.10/dist-packages (from typing-inspect>=0.6.0->pandera) (1.0.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.10/dist-packages (from typing-inspect>=0.6.0->pandera) (4.11.0)
Requirement already satisfied: annotated-types>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from pydantic->pandera) (0.6.0)
Requirement already satisfied: pydantic-core==2.18.2 in /usr/local/lib/python3.10/dist-packages (from pydantic->pandera) (2.18.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pandera) (1.16.0)

In [155]:

# Define the validation schema
schema = DataFrameSchema({
    'MOVIES': Column(str, Check.str_length(min_value=1), nullable=False),
    'GENRE': Column(str, Check.str_length(min_value=1), nullable=False),
    'RATING': Column(float, Check.in_range(0, 10), nullable=True),
    'ONE-LINE': Column(str, Check.str_length(min_value=1), nullable=True),
    'STARS': Column(str, Check.str_length(min_value=1), nullable=True),
})


validated_df = schema.validate(df)
print("Data validation successful.")
# Proceed with further data processing or save the validated dataframe

Data validation successful.

In [156]:
validated_df

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
77,The Hitman's Bodyguard,(2017),"\nAction, Comedy, Crime",6.9,"\nThe world's top bodyguard gets a new client,...",\n Director:\nPatrick Hughes\n| \n Stars...,"205,979",118.0,$75.47M
85,Jurassic Park,(1993),"\nAction, Adventure, Sci-Fi",8.1,\nA pragmatic paleontologist visiting an almos...,\n Director:\nSteven Spielberg\n| \n Sta...,"897,444",127.0,$402.45M
95,Don't Breathe,(2016),"\nCrime, Horror, Thriller",7.1,"\nHoping to walk away with a massive fortune, ...",\n Director:\nFede Alvarez\n| \n Stars:\...,"237,601",88.0,$89.22M
111,The Lord of the Rings: The Fellowship of the Ring,(2001),"\nAction, Adventure, Drama",8.8,\nA meek Hobbit from the Shire and eight compa...,\n Director:\nPeter Jackson\n| \n Stars:...,"1,713,028",178.0,$315.54M
125,Escape Room,(I) (2019),"\nAction, Adventure, Horror",6.4,\nSix strangers find themselves in a maze of d...,\n Director:\nAdam Robitel\n| \n Stars:\...,"99,351",99.0,$57.01M
...,...,...,...,...,...,...,...,...,...
3065,Under solen,(1998),"\nDrama, Romance",6.7,\nOlof lives alone on a farm after the death o...,\n Director:\nColin Nutley\n| \n Stars:\...,"2,510",130.0,$0.29M
3074,Damsels in Distress,(2011),"\nComedy, Drama, Romance",5.7,\nA trio of girls set out to change the male-d...,\n Director:\nWhit Stillman\n| \n Stars:...,"9,343",99.0,$1.01M
3081,Tomorrow Is Forever,(1946),"\nDrama, Romance, War",7.4,"\nAn American World War I soldier, whose disfi...",\n Director:\nIrving Pichel\n| \n Stars:...,"2,456",104.0,$3.25M
3091,Gap tung kei hap,(2014),"\nAction, Comedy, History",4.8,\nAn imperial guard and his three traitorous c...,\n Director:\nWing-Cheong Law\n| \n Star...,"3,436",104.0,$0.01M
3107,Muscle Shoals,(2013),"\nDocumentary, Biography, History",7.8,"\nA documentary that celebrates Rick Hall, the...",\n Director:\nGreg 'Freddy' Camalier\n| \n ...,"3,695",111.0,$0.70M

In [157]:

# encryption key
key = Fernet.generate_key()
cipher_suite = Fernet(key)

# Encrypt sensitive information
sensitive_columns = ['RATING','STARS','VOTES']
for column in sensitive_columns:

        df[column] = df[column].apply(lambda x: cipher_suite.encrypt(str(x).encode()))

print("completed.")

completed.

In [158]:
df

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
77,The Hitman's Bodyguard,(2017),"\nAction, Comedy, Crime",b'gAAAAABmRn-Gp8hcRJjd-dbSVSXZNLelc-tYTL3x4wuR...,"\nThe world's top bodyguard gets a new client,...",b'gAAAAABmRn-GiVxF32ClQKl8uxHnj6hj0QiWLenyPYXm...,b'gAAAAABmRn-G0q0cEOFF3btCuoU99Zgj4lCaRVbu80AM...,118.0,$75.47M
85,Jurassic Park,(1993),"\nAction, Adventure, Sci-Fi",b'gAAAAABmRn-GBc2n3035ksA5L5eDUg6GneHtqyB8GbDy...,\nA pragmatic paleontologist visiting an almos...,b'gAAAAABmRn-G5PdYUcGDWWuayx7MKvW-hubFSSJ9-1D1...,b'gAAAAABmRn-GmF5HjfoQabdyhXSw-YnPkdlVgRY8l61q...,127.0,$402.45M
95,Don't Breathe,(2016),"\nCrime, Horror, Thriller",b'gAAAAABmRn-G6Tg9bqPYcTW_yvOf6S7SDOc5CmEJGJ9J...,"\nHoping to walk away with a massive fortune, ...",b'gAAAAABmRn-G6KagOnFWbdSoR8PJpnIMN4wCabqAeMqS...,b'gAAAAABmRn-GiXfmYWP96d4cZByusgfcps4jrum6AING...,88.0,$89.22M
111,The Lord of the Rings: The Fellowship of the Ring,(2001),"\nAction, Adventure, Drama",b'gAAAAABmRn-Gvuh_KDTZTkKRzpMBxW0I2KRA5BYsvr6J...,\nA meek Hobbit from the Shire and eight compa...,b'gAAAAABmRn-GMej74QoZ4DNSgUz-gGfWgodTqsp7-ab7...,b'gAAAAABmRn-GReWz6-irKZoEihzSlQaF7CB8_lSLgBGR...,178.0,$315.54M
125,Escape Room,(I) (2019),"\nAction, Adventure, Horror",b'gAAAAABmRn-G44paWKFu8VHeJ5iSY13b3HC35H5nZp1q...,\nSix strangers find themselves in a maze of d...,b'gAAAAABmRn-GDG2G3TvyZzYp4F-7qU5x3bvD4q-sBkcJ...,b'gAAAAABmRn-GeMS1V4XCW4Jcp15VgALd9_nD83MPlM1u...,99.0,$57.01M
...,...,...,...,...,...,...,...,...,...
3065,Under solen,(1998),"\nDrama, Romance",b'gAAAAABmRn-GOkB7kfhs66JD1HtQRoMl2t2piV9Ga1_S...,\nOlof lives alone on a farm after the death o...,b'gAAAAABmRn-GLf5lQ4jM0_J7kUQ-6LQx61Kofv5vI0hY...,b'gAAAAABmRn-GKQP5Fi83X5ifzmLA6Y0k3zNyO8V6GHGV...,130.0,$0.29M
3074,Damsels in Distress,(2011),"\nComedy, Drama, Romance",b'gAAAAABmRn-G1NM1Lg81DjCqcXNom6H0kx5DlHqjsH7S...,\nA trio of girls set out to change the male-d...,b'gAAAAABmRn-GW6fV3Pqsxf_18_M0gAim4C6-Ud8V85WS...,b'gAAAAABmRn-GxDi95EY8xQ-6RbJiwupfGY-Ppf97Aofo...,99.0,$1.01M
3081,Tomorrow Is Forever,(1946),"\nDrama, Romance, War",b'gAAAAABmRn-Gg5qOQbXMxhA43naG6u4lT2iPqyRqSN5T...,"\nAn American World War I soldier, whose disfi...",b'gAAAAABmRn-GrYSm8Y14Lv3oTwb2c2YdN8mW5nXsgdZc...,b'gAAAAABmRn-Gz-tKrmKrb6fy8-AIy-30nzVFrzJj66ec...,104.0,$3.25M
3091,Gap tung kei hap,(2014),"\nAction, Comedy, History",b'gAAAAABmRn-GBEOnLer1cDQ2649t6_JKMVmzfoTS9ZaY...,\nAn imperial guard and his three traitorous c...,b'gAAAAABmRn-GDy2xupH6lYH8idJda_gW36d4dd4EjdS_...,b'gAAAAABmRn-GFJfNKgT5DKWrs8y2Y-riOo6vFGWDr_Yz...,104.0,$0.01M
3107,Muscle Shoals,(2013),"\nDocumentary, Biography, History",b'gAAAAABmRn-G7JhBlk8gPEiPDr43AJKMVmwWUhEq0xbe...,"\nA documentary that celebrates Rick Hall, the...",b'gAAAAABmRn-GAQ6wNTXTuVEq_JRESp1dOKkmx2fy1fhP...,b'gAAAAABmRn-G-aZLbFtMzSOepolBUdGINMrz7xXrrQ7f...,111.0,$0.70M